/* style.css */
.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    background-color: #b7eeff;


.button {
    background-color: #4CAF50;
    border: none;
    color: rgb(128, 17, 17);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* O ponto significa que é uma classe, o # significa que é um id.
   .button#abrir significa um elemento com a classe button e o id abrir. */

.button#abrir{
    background-color: #4CAF50;
    border: none;
    color: rgb(255, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button#fechar{
    background-color: #c70b0b;
    border: none;
    color: rgb(255, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button#identificarPessoa {
    background-color: #4CAF50;
    border: none;
    color: rgb(255, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
}